<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>Label</key>
        <string>com.jan.video-tagging</string>
        <key>ProgramArguments</key>
        <array>
            <string>/Users/jan/Documents/Repos/Scripts/video_tagging/.build/release/VideoTagging</string>
        </array>
        <key>RunAtLoad</key>
        <true/>
        <key>KeepAlive</key>
        <true/>
        <key>StandardOutPath</key>
        <string>/Users/jan/Library/Logs/video-tagging.log</string>
        <key>StandardErrorPath</key>
        <string>/Users/jan/Library/Logs/video-tagging-error.log</string>
    </dict>
</plist>